#login {
  input {
    border: 2px solid black;
  }

  .submit {
    padding: 0 10px;

  }

  .paper {
    width: 80%;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: chocolate;
  }
}